@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 159 65% 4%;
    --foreground: 159 10% 97.5%;
    --card: 159 45% 6.5%;
    --card-foreground: 159 10% 97.5%;
    --popover: 159 45% 6.5%;
    --popover-foreground: 159 10% 97.5%;
    --primary: 159 100% 50%;
    --primary-foreground: 159 10% 5%;
    --secondary: 159 50% 15%;
    --secondary-foreground: 159 10% 97.5%;
    --muted: 159 50% 15%;
    --muted-foreground: 159 10% 55%;
    --accent: 159 50% 15%;
    --accent-foreground: 159 10% 97.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 159 10% 97.5%;
    --border: 159 50% 15%;
    --input: 159 50% 15%;
    --ring: 159 100% 50%;
    --radius: 0.5rem;
    --chart-1: 159 100% 50%;
    --chart-2: 159 80% 40%;
    --chart-3: 159 60% 30%;
    --chart-4: 159 40% 20%;
    --chart-5: 159 20% 10%;
    --critical: 353 71% 51%;
    --critical-background: 351 100% 86%;
    --high: 350 97% 60%;
    --high-background: 347 100% 89%;
    --medium: 20 100% 50%;
    --medium-background: 20 100% 90%;
    --low: 44 100% 50%;
    --low-background: 48 100% 93%;
    --information: 344 9% 25%;
    --information-background: 0 0% 95%;
  }

  .dark {
    --background: 159 65% 4%;
    --foreground: 159 10% 97.5%;
    --card: 159 45% 6.5%;
    --card-foreground: 159 10% 97.5%;
    --popover: 159 45% 6.5%;
    --popover-foreground: 159 10% 97.5%;
    --primary: 159 100% 50%;
    --primary-foreground: 159 10% 5%;
    --secondary: 159 50% 15%;
    --secondary-foreground: 159 10% 97.5%;
    --muted: 159 50% 15%;
    --muted-foreground: 159 10% 55%;
    --accent: 159 50% 15%;
    --accent-foreground: 159 10% 97.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 159 10% 97.5%;
    --border: 159 50% 15%;
    --input: 159 50% 15%;
    --ring: 159 100% 50%;
    --chart-1: 159 100% 50%;
    --chart-2: 159 80% 40%;
    --chart-3: 159 60% 30%;
    --chart-4: 159 40% 20%;
    --chart-5: 159 20% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .patternBg {
    width: 100%;
    height: 100%;
    --color: hsl(159 50% 15% / 0.3);
    background-color: hsl(159 65% 4%);
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      );
    background-size: 55px 55px;
  }
}
